<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>something new </title>
</head>
<body>
<!--<form method="POST">{% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <input type="submit" value="Save" />-->
<!--</form>-->

<!--<form action="http://www.youtube.com/search" method="GET">-->
<!--    <input type="text" name="q" placeholder="what do you wantto search ?"/>-->
<!--    <input type="submit" value="search"/>-->
</form>
<br>
<form action="." method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="save yaar"/>
</form>
</body>
</html>